<div uk-grid class="uk-flex uk-flex-center">
  <div class="uk-width-3-5@m uk-width-1-1@s">
    <div class="m-content uk-animation-slide-bottom-small">
      <div class="container">
       <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
      </div>
    </div>

  </div>
</div>