@import "../../../../assets/stylesheets/color_theme";

span.m-card-user__email.m--font-weight-300 {
  color: lighten($lightColor, 50%) !important;
}

ul.m-menu__nav.m-menu__nav--submenu-arrow {
  li.m-menu__item.m-menu__item--submenu.m-menu__item--rel {
    border-bottom: 2px solid white;
    transition: 0.5s all;
    span:last-child {
      transition: 0.5s all;
    }
    &.active {
      border-bottom: 2px solid $blue;
      transition: 0.5s all;
      //padding-top: 2px;
      padding-right: auto + 5px;
      padding-left: auto + 5px;
      * {
        //font-weight: bold;
        color: $blue;
      }
      .m-menu__link-text {
        //font-size: 1.2em;
      }
      .m-badge.m-badge--danger {
        color: white;
      }
    }
  }

}

